:root {
  --violet: 263 55% 52%;
  --gray-blue: 217 19% 35%;
  --black-blue: 219 29% 14%;
  --White: 0 0% 100%;

  --neutral-gray: 0, 0%, 81%;
  --neutral-gray-blue: 210, 46%, 95%;

  --fw-500: 500;
  --fw-600: 600;

  --ff-primary: "Barlow Semi Condensed", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  min-height: 100vh;
  font-size: 13px;
}

img {
  max-width: 100%;
  display: block;
}

/* utilities */
.flex {
  display: flex;
  gap: 1rem;
}

.bg-color-violet {
  background: hsl(var(--violet));
}

.bg-color-gray-blue {
  background: hsl(var(--gray-blue));
}

.bg-color-black-blue {
  background: hsl(var(--black-blue));
}

.text-white {
  color: hsl(var(--White));
}

.text-gray-blue {
  color: hsl(var(--gray-blue));
}

.text-black-blue {
  color: hsl(var(--black-blue));
}

/* components */

.testimonial-grid {
  display: grid;
  margin: 3em;
  gap: 2em;
  grid-auto-columns: 1fr 1fr;
}

.testimonial {
  padding: 1.5rem;
  border-radius: 0.5em;
}

.testimonial img {
  align-self: center;
  border-radius: 50%;
}

.name {
  font-size: 1.25rem;
  line-height: 0.3;
}

.position {
  line-height: 0.2;
  opacity: 50%;
}

.review {
  font-size: 1.25rem;
  font-weight: var(--fw-600);
}

.quote {
  font-size: 1rem;
  font-weight: var(--fw-500);
  opacity: 70%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
